/* To be improved - Basic repeating image header to fill the width*/
.header-img {
    background-image: url(../images/nd_students.jpeg);
    background-repeat: repeat-x;
    width: 100%;
}

/* Aligns entire login page */
body {
    font-family: 'DM Sans';
    text-align: center;
    margin: auto;
}

h1, h2 {
    font-weight: bold;
    padding: .5em;
    padding-bottom: 0em;
}
